<a href="https://colab.research.google.com/github/dikshap07/Algorithms-and-Data-Structures/blob/master/Two_Number_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement: When given an array of distinct integers and a separate integer. You need to find out pairs of numbers in the array whose sum will be equal to the separate integer.

i/p : [a,b,c,d], k find pairs in array where sum  = k

APPROACH-01- For loop

In [17]:
def two_num_sumI(A,k):
  for i in range(0,len(A)):
    for j in range(i+1,len(A)):
      
      if A[i]+A[j] == k:
        
        return (A[i],A[j])

In [54]:
A= [3,5,-4,8,11,1,-1,6]
k = 10
two_num_sumI(A,k)

(11, -1)

APPROACH-02- Using Sort

In [45]:
#using sort function + recursion

def two_num_sumII2(A,k):

  A.sort()
  L = 0
  R = len(A)-1

  def check_sum(L,R,A):

    if A[L] + A[R] == k:
      return (A[L],A[R])

    elif A[L] + A[R] < 10:
      L = L+1
      return check_sum(L,R,A)

    else:
      R= R-1
      return check_sum(L,R,A)

  
  return check_sum(L,R,A)

In [46]:
two_num_sumII2(A,k)

(-1, 11)

In [32]:
#using sort function + while loop

def two_num_sumII(A,k):

  A.sort()
  L = 0
  R = len(A)-1

  while L != R:
    if A[L] + A[R] == k:
      return (A[L],A[R])

    elif A[L] + A[R] < 10:
      L = L+1

    else:
      R= R-1

In [52]:
two_num_sumII(A,k)

(-1, 11)

In [41]:
#using quick sort 

def partition(A,l,r):
  pivot = A[l]  #FIirst Element of array
  j=l

  for i in range(l+1,r):

    if A[i]<=pivot:

      j = j+1
      A[i],A[j] = A[j],A[i]

  A[l],A[j] = A[j],A[l]

  return j

def quick_sort(A,l,r):
  if l>=r:

    return

  m = partition(A,l,r)

  quick_sort(A,l,m)
  quick_sort(A,m+1,r)


  return A 

def two_num_sumII3(A,k):

  A = quick_sort(A,0,len(A))

  L = 0
  R = len(A)-1

  while L != R:
    if A[L] + A[R] == k:
      return (A[L],A[R])

    elif A[L] + A[R] < 10:
      L = L+1

    else:
      R= R-1

In [51]:
two_num_sumII3(A,k)

(-1, 11)

APPROACH-03-USING HASH TABLE(best)

Hash Table: Type of data structure in which the index of the element to be inserted in the hash table is determined by a function(user-defined) called Hash Function

In [50]:
A

[3, 5, -4, 8, 11, 1, -1, 6]