In [ ]:
import time

seq = [1,2,4, 5000,10000,20000,10000,2003990,30912309817423]
product = [0]
for i in range(0,len(seq)):
  for m in range(i+1,len(seq)):
    c = seq[i]* seq[m]
    product.append(c)

print(max(product))
time.clock()

61947959751017517770

3.383771

In [ ]:
def max_pairwise_product(numbers):
  n = len(numbers)

  k = max(numbers)
  print(k)
  j = numbers.index(k)
  print(j)
  numbers.pop(j)
  print(numbers)
  l = max(numbers)

  return (k*l)

In [ ]:
seq = [1,2,4, 5000,10000,20000,10000,2003990,30912309817423]

In [ ]:

max_pairwise_product(seq)
time.clock()

2003990
7
[1, 2, 4, 5000, 10000, 20000, 10000]

4.201506

In [ ]:
if __name__ == '__main__':
    input_n = int(input())
    input_numbers = [int(x) for x in input().split()]
    print(max_pairwise_product(input_numbers))

FIBONACCI NUMBERS - Naive Algorithm

In [ ]:
import time
def get_fibonacci_number(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append(f_series[i-1]+ f_series[i])
      #print(f_series)
      return f_series[n]
      
n = int(input())
print(get_fibonacci_number(n))
time.clock()

300
222232244629420445529739893461909967206666939096499764990979600

2.772658

In [ ]:
3#coursera instructor way
def get_f(n):
  if n<=1:
    return n
  
  return get_f(n-1) + get_f(n-2)
n = int(input())
print(get_f(n))
time.clock()

4
3

250.371064

In [ ]:
def get_fibonacci_num(n):

  previous = 0
  current = 1

  for _ in range(2,n+1):

    previous,current = current, previous + current
  return current

In [ ]:
get_fibonacci_num(300)

222232244629420445529739893461909967206666939096499764990979600

FIBONACCI LAST DIGIT

In [ ]:
#to get last digit of the fibonacci number ---> NOT WORKING FOR VERY LARGE NUMBERS


def get_fibonacci_number_last_digit(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append(f_series[i-1]+ f_series[i])
      
      n_num = str(f_series[n])

      k = len(n_num)

      return(n_num[k-1])

n = int(input())
print(get_fibonacci_number_last_digit(n))

613455

In [ ]:
def get_fibonacci_number_last_digit(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append(f_series[i-1]+ f_series[i])
      
      n_num = f_series[n]

      

      return(n_num % 10)

n = int(input())
print(get_fibonacci_number_last_digit(n))

32
9

FIBONACCI LAST DIGIT- OPTIMISED

In [ ]:
def get_fibonacci_number_last_digit(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i])%10)
      
      n_num = f_series[n]

      

      return(n_num % 10)
      

n = int(input())
print(get_fibonacci_number_last_digit(n))

51
4

GREATEST COMMON DIVISOR

In [ ]:
def gcd(a,b):
  if a>b:
    c = a%b

    if c>0:
      return gcd(b,c)
    else:
      return b
  else:
    c = b%a
    if c== 0:
      return a
    else:
      return gcd(a,c)

In [ ]:

gcd(28851538, 1183019)

17657

In [ ]:
def gcd(a,b):
  if a>b:
    c = a%b

    if c>0:
      return gcd(b,c)
    else:
      return b
  else:
    c = b%a
    if c== 0:
      return a
    else:
      return gcd(a,c)

k = input()
a,b = map(int, k.split(" "))

print(gcd(a,b))

28851538 1183019
17657

LEAST COMMON MULTIPLE

In [ ]:
#APPROACH 1 ---> slow
def lcm(a,b):
  
  if a>b:
    c=0
    for c in range(b, a*b+1):

      if (c%a == 0) and (c%b == 0):
        return c
        break
      
      
  else:

    for c in range(a,a*b+1):
      
      if c%a == 0 and c%a == 0:
        return c
        break
      
    
      
nums = input()
a,b = map(int,nums.split(' '))

print(lcm(a,b))

7 5
35

In [ ]:
#APPROACH 2   #range is from larger number in multiples of larger number bcz common multiple cant be smaller than the larger number.

              #range till a*b because a*b will definately be a common multiple of both therefore if no number before a*b is the common multiple a*b will definately be
              #so to get the least we dont need to calculate further.

#--> works
import time
def lcm(a,b):
  
  if a>b:
    c=0
    for c in range(a, a*b+1,a):

      if (c%a == 0) and (c%b == 0):
        return c
        break
      
      
  else:

    for c in range(b,a*b+1,b):
      
      if c%a == 0 and c%b == 0:
        return c
        break
      
    
      
nums = input()
a,b = map(int,nums.split(' '))

print(lcm(a,b))
time.clock()

714552 374513
170777928

176.897162

FIBONACCI NUMBER MOD M, (for a very large Fn where n can be upto 10^14)

In [ ]:
def get_fibonacci_number(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i]))
      
      return(f_series)

In [ ]:
k =get_fibonacci_number(219)

In [ ]:
sum(k)

17710

In [ ]:
def get_remainder(n,m):

  f_series = get_fibonacci_number(5*m)

  #print(f_series)

  remainder = []

  for i in f_series:

    remainder.append(i%m)
  
  #print(remainder)

  for j in range(2,5*m):

    if remainder[j]==0 and remainder[j+1] == 1:

      print("j:",j)
      
      n_new = n%j
      print(n_new)

      f = f_series[(n_new)]
      print("f",f)
      
      return f%m

In [ ]:
get_remainder(10 ,2)

j: 3
1
f 1

1

Last Digit of the Sum of Fibonacci Numbers

In [ ]:
#APPROACH -01

def get_fibonacci_number_last_digit(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i]))
      
      print(f_series)
      total = sum(f_series)

      return(total % 10)

n = int(input())
print(get_fibonacci_number_last_digit(n))

241
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101, 927372692193078999176, 1500520536206896083277, 2427893228399975082453, 3928413764606871165730, 6356306993006846248183, 10284720757613717413913, 16641027750620563662096, 26925748508234281076009, 43566776258854844738105, 70492524767089125814114, 114059301025943970552219, 184551825793033096366333, 298611126818977066918552, 483162952612010163284885, 781774079430987230203437, 1264937032042997393488322, 2046711111473984623691759, 3311648143516982017180081, 5358359254990966640871840, 8670007398507948658051921, 14028366653498915298923761, 22698374052006863956975682, 36726740705505779255899443, 59425114757512643212875125, 96151855463018422468774568, 155576970220531065681649693, 251728825683549488150424261, 407305795904080553832073954, 659034621587630041982498215, 1066340417491710595814572169, 1725375039079340637797070384, 2791715456571051233611642553, 4517090495650391871408712937, 7308805952221443105020355490, 11825896447871834976429068427, 19134702400093278081449423917, 30960598847965113057878492344, 50095301248058391139327916261, 81055900096023504197206408605, 131151201344081895336534324866, 212207101440105399533740733471, 343358302784187294870275058337, 555565404224292694404015791808, 898923707008479989274290850145, 1454489111232772683678306641953, 2353412818241252672952597492098, 3807901929474025356630904134051, 6161314747715278029583501626149, 9969216677189303386214405760200, 16130531424904581415797907386349, 26099748102093884802012313146549, 42230279526998466217810220532898, 68330027629092351019822533679447, 110560307156090817237632754212345, 178890334785183168257455287891792, 289450641941273985495088042104137, 468340976726457153752543329995929, 757791618667731139247631372100066, 1226132595394188293000174702095995, 1983924214061919432247806074196061, 3210056809456107725247980776292056, 5193981023518027157495786850488117, 8404037832974134882743767626780173, 13598018856492162040239554477268290, 22002056689466296922983322104048463, 35600075545958458963222876581316753, 57602132235424755886206198685365216, 93202207781383214849429075266681969, 150804340016807970735635273952047185, 244006547798191185585064349218729154, 394810887814999156320699623170776339, 638817435613190341905763972389505493, 1033628323428189498226463595560281832, 1672445759041379840132227567949787325, 2706074082469569338358691163510069157, 4378519841510949178490918731459856482, 7084593923980518516849609894969925639, 11463113765491467695340528626429782121, 18547707689471986212190138521399707760, 30010821454963453907530667147829489881, 48558529144435440119720805669229197641, 78569350599398894027251472817058687522, 127127879743834334146972278486287885163, 205697230343233228174223751303346572685, 332825110087067562321196029789634457848, 538522340430300790495419781092981030533, 871347450517368352816615810882615488381, 1409869790947669143312035591975596518914, 2281217241465037496128651402858212007295, 3691087032412706639440686994833808526209, 5972304273877744135569338397692020533504, 9663391306290450775010025392525829059713, 15635695580168194910579363790217849593217, 25299086886458645685589389182743678652930, 40934782466626840596168752972961528246147, 66233869353085486281758142155705206899077, 107168651819712326877926895128666735145224, 173402521172797813159685037284371942044301, 280571172992510140037611932413038677189525, 453973694165307953197296969697410619233826, 734544867157818093234908902110449296423351, 1188518561323126046432205871807859915657177, 1923063428480944139667114773918309212080528, 3111581989804070186099320645726169127737705, 5034645418285014325766435419644478339818233, 8146227408089084511865756065370647467555938, 13180872826374098837632191485015125807374171, 21327100234463183349497947550385773274930109, 34507973060837282187130139035400899082304280, 55835073295300465536628086585786672357234389, 90343046356137747723758225621187571439538669, 146178119651438213260386312206974243796773058, 236521166007575960984144537828161815236311727, 382699285659014174244530850035136059033084785, 619220451666590135228675387863297874269396512, 1001919737325604309473206237898433933302481297, 1621140188992194444701881625761731807571877809, 2623059926317798754175087863660165740874359106, 4244200115309993198876969489421897548446236915, 6867260041627791953052057353082063289320596021, 11111460156937785151929026842503960837766832936, 17978720198565577104981084195586024127087428957, 29090180355503362256910111038089984964854261893, 47068900554068939361891195233676009091941690850, 76159080909572301618801306271765994056795952743, 123227981463641240980692501505442003148737643593, 199387062373213542599493807777207997205533596336, 322615043836854783580186309282650000354271239929, 522002106210068326179680117059857997559804836265, 844617150046923109759866426342507997914076076194, 1366619256256991435939546543402365995473880912459, 2211236406303914545699412969744873993387956988653, 3577855662560905981638959513147239988861837901112, 5789092068864820527338372482892113982249794889765, 9366947731425726508977331996039353971111632790877, 15156039800290547036315704478931467953361427680642, 24522987531716273545293036474970821924473060471519, 39679027332006820581608740953902289877834488152161, 64202014863723094126901777428873111802307548623680, 103881042195729914708510518382775401680142036775841]
1

In [ ]:
def get_fibonacci_number(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i])%10)
      
      return(f_series)

n = int(input())
print(get_fibonacci_number(n))

60
[0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1, 0]

In [ ]:
n = int(input())
print(get_fibonacci_number(n))

120
[0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1, 0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1, 0]

In [ ]:
12def get_sum_last_digit(n):   #DOESNOT WORK FOR LARGE CASES

  f_series = get_fibonacci_number(n)
  print(f_series)

  total = sum(f_series)

  return total 

n = int(input())
print(get_sum_last_digit(n))

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
143

In [ ]:
#OPTIMISED FIBONACCI SUM

def get_fibonacci_number_last_digit(n):
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i])%10)


      #print(f_series)

      n_num = f_series[n]
      
      return(n_num)
   
def get_sum_last_digit(n):

  if n<=1:
    return n

  else:

    #fn = get_fibonacci_number_last_digit(n)
    fn1 = get_fibonacci_number_last_digit(n+2)

    

    return ((fn1) -1)%10 

n = int(input())
print(get_sum_last_digit(n))

100
5

In [ ]:
def get_fibonacci_sum(n):   #using temporary variable instead of list

  previous = 0
  current = 1

  for _ in range(2,n+3):

    previous,current = (current%10), (previous + current)%10

  last = current

  print(last)

  return last-1

In [ ]:
get_fibonacci_sum(60)

1

0

In [ ]:
#we know that the last digit of the fibonacci series is a series of 60 lenghth and repeats after that, using that we are trying a new method: we also know sum = Fn+2 -1

def get_sum_last_digit(n):


  l= [0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1]

  k = n % 60

  l_new = l[0:k+1]
  

 
  
  print(l_new)
     
  total = sum(l_new)
  print(total)

  return total%10
  



n = int(input())
print(get_sum_last_digit(n))

In [ ]:
2614162383528 % 60

28

In [ ]:
100%60

40

Last Digit of the Sum of Fibonacci Numbers Again

In [ ]:
#FIBONACCI SUM

def get_fibonacci_number_last_digit(n):
  
  f_series = [0,1]

  if n<=1:
      return n
  else:
      for i in range(1,n):
        
        f_series.append((f_series[i-1]+ f_series[i]))


      #print(f_series)

      n_num = f_series[n]
      
      return(n_num)
   
def get_sum_last_digit(m,n):

  if n<=1:
    return n

  else:

    sm = get_fibonacci_number_last_digit(m+1)
    print(sm)
    fn1 = get_fibonacci_number_last_digit(n+2)
    print(fn1)
    

    return (fn1 - sm)%10 

nums = input()
m,n = map(int,nums.split(' '))
print(get_sum_last_digit(m,n))

239 241
64202014863723094126901777428873111802307548623680
271964099255182923543922814194423915162591622175362
2

In [ ]:
#FIBONACCI PARTIAL SUM OPTIMISED


def get_partial_sum(m,n):

  l = [0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1]
  
  m_new = m % 60
  n_new = n % 60

  if n_new >  58:
    n_new = (n_new +2 )% 60

    fm = l[m_new + 1]
    print("fm fm ",fm)
    fn = l[n_new]
    print("fn",fn)

    total = fn - fm
    print(total)
    return total % 10

  elif m_new > 58:
    m_new = (m_new +1 )% 60

    fm = l[m_new]
    fn = l[n_new+2]

    total = (fn - fm)
    print(total)
    return total % 10

  elif m_new > 58 & n_new > 58:
    m_new = (m_new +1 )% 60
    n_new = (n_new +2)% 60

    fm = l[m_new]
    fn = l[n_new]

    total = (fn - fm)
    print(total)
    return total % 10

  else:
    fm = l[m_new+1]
    fn = l[n_new + 2]

    total = fn - fm
    print(total)
    return total % 10


nums = input()
m,n = map(int,nums.split(' '))
print(get_partial_sum(m,n))

239 241
2
2

In [ ]:
def get_sum_last_digit_range(m,n):  #DOES NOT WORK IN THE LONGER RUN

  l = [0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1]

  m_new = m% 60
  #print(m_new)


  n_new = n% 60
  #print(n_new)
  
  lm_new = l[0: m_new+1]
  #print(lm_new)

  ln_new = l[0: n_new+1]

  #print(ln_new)
  sn = sum(ln_new)
  sm = sum(lm_new)

  if sn>sm:
    total = sn - sm
    #print(total)

    return total % 10

  else:
    total = sm - sn
    #print(total)

    return total % 10

nums = input()
m,n = map(int,nums.split(' '))
print(get_sum_last_digit_range(m,n))

5618252 6583591534156
32
16
[0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9]
[0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7]
83
3

Last Digit of the Sum of Squares of Fibonacci Numbers

In [ ]:
def last_digit_sq_sum(n):
  l = [0, 1, 1, 2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4, 1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5, 1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1]
  sum = 0 
  for i in l:
    sum= sum + (i**2)
  
  once = sum
  
  sq_sum = 0
  if n< 60:
    for m in l[0:n+1]:
      
      sq_sum = sq_sum + m**2
    
    return sq_sum % 10
  
  else:

    q = n//60
    r = n% 60
    r_sum = 0
    for m in l[0:r+1]:

      r_sum = r_sum + m**2

    sq_sum = q*once + r_sum

    return sq_sum % 10   



n = int(input())
print(last_digit_sq_sum(n))

1234567890
0

In [ ]:
7

6

##Week 3

#### Money Change Algorithm

In [ ]:
def money_change(m):
  if m>=10:
    
   c_ten = int(m/10)

   tens = c_ten*10

   if tens == m:

     print("min number of coins: ", c_ten)

   else:

     c_five = int((m- tens)/5)

     fives = c_five*5

     if tens + fives == m :

       print("min number of coins: ",c_ten + c_five)

     else:

       c_one = int(m- (tens+fives))

       ones = c_one

       print("min number of coins: ",c_ten + c_five + c_one)
      
    
  elif (m<10) and (m>=5) :


      c_five = int(m/5)
      print(c_five)

      fives = c_five*5
      print(fives)

      if fives == m :

        print("min number of coins:", c_five)

      else:

        c_one = int((m - fives))

        print("min number of coins: ", c_five + c_one)

  elif m<5:

      c_one = m

      print("min number of coins: ",c_one)

m = int(input())
coins = money_change(m)
print(coins)

8
1
5
min number of coins:  4
None

In [ ]:
money_change(28)

min number of coins:  6

In [ ]:
def money_change(m):
  if m>=10:
    
   c_ten = int(m/10)

   tens = c_ten*10

   if tens == m:

     return c_ten

   else:

     c_five = int((m- tens)/5)

     fives = c_five*5

     if tens + fives == m :

       return (c_ten + c_five)

     else:

       c_one = int(m- (tens+fives))

       ones = c_one

       return (c_ten + c_five + c_one)
      
    
  elif (m<10) & (m>=5) :


      c_five = int(m/5)

      fives = c_five*5

      if fives == m :

        return c_five

      else:

        c_one = int((m - fives))

        return ( c_five + c_one)


  elif m<5:

      c_one = m

      return(c_one)

m = int(input())
coins = money_change(m)
print(coins)

10
1

Knapsack Problem

In [ ]:
data = input()
data2 =list( map(int,data.split(' ')))

3 50 60 20 100 50 120 30

In [ ]:
data2

[3, 50, 60, 20, 100, 50, 120, 30]

DOES NOT WORK

In [ ]:
import numpy as np

data = input()
data2 =list( map(int,data.split(' ')))
n, capacity = data2[0:2]
weights = data2[3: (2*n + 2) : 2]
values = data2[2: (2*n + 2):2]

'''print(weights)
print(values)'''

def get_optimal_value(n,capacity,weights,values):

  #to get value per unit weight

  final_value = 0

  A = np.zeros(n)
  
  unit_values = list()

  for i in range(0,n):

    vi = round(values[i]/weights[i],4)

    unit_values.append(vi)

  # sort the unit values in descending order

  #unit_values.sort(reverse = True)
  
  #print(max(unit_values))
  print(unit_values)
  
  for i in range(0,n):
    if capacity == 0:

      return 0

    else:

      
      if (weights[i] > 0) and (unit_values[i] == max(unit_values)):

        print(i)

        a = min(weights[i],capacity)
        print(weights[i])

        print(a)

        final_value = final_value + (a*(unit_values[i]))
        print(final_value)

        weights[i] = weights[i] - a
        print(weights[i])
        capacity = capacity - a

        print(capacity)

        A[i] = A[i] + a

        continue

        

        
  return final_value,A

3 50 60 20 100 50 120 30

In [ ]:
final_value,A = get_optimal_value(n,capacity,weights,values)

2
30
30
120.0
0
20

In [ ]:
print(final_value)

120.0

In [ ]:
print(A)

[ 0.  0. 30.]

DO NOT TOUCH : THIS IS CORRECT ANSWER

In [ ]:
import numpy as np

data = input()
data2 =list( map(int,data.split(' ')))
n, capacity = data2[0:2]
weights = data2[3: (2*n + 2) : 2]
values = data2[2: (2*n + 2):2]


def max_loot(n,capacity,weights,values):

  initial_amount = np.zeros(n)
  #print("i",initial_amount)

  V = 0 #total Value

  value_i = list()

  #to get unit value for each item
  for i in range(0,n):

    vi = round(values[i]/weights[i],4)

    value_i.append(vi)

  

    

  print("vi",value_i)


  for q in range(0,n):

    if capacity == 0:

      break

    else:
      
      k = value_i.index(max(value_i))   #index of item with max unit value
      print("k",k)

      if weights[k]>0:

        a = min(weights[k],capacity)
        print("a",a)

        V= V + a*round((values[k]/weights[k],4))
        V = round(V,4)
        print("v",V)
        print("initial_amount",initial_amount)
        
        np.put(initial_amount,k,initial_amount[k] + a)


        

        weights[k] = weights[k] - a
        print("weights: ",weights)
        print("ii",initial_amount)

        capacity = capacity - a
        print("capacity",capacity)
        value_i[k] = 0
        

        print("values_i",value_i)

      


  return V,initial_amount

3 60 60 20 150 50 120 30

In [ ]:
V, initial_amount = max_loot(n,capacity,weights,values)

vi [3.0, 3.0, 4.0]
k 2
a 30
v 120.0
initial_amount [0. 0. 0.]
weights:  [20, 50, 0]
ii [ 0.  0. 30.]
capacity 30
values_i [3.0, 3.0, 0]
k 0
a 20
v 180.0
initial_amount [ 0.  0. 30.]
weights:  [0, 50, 0]
ii [20.  0. 30.]
capacity 10
values_i [0, 3.0, 0]
k 1
a 10
v 210.0
initial_amount [20.  0. 30.]
weights:  [0, 40, 0]
ii [20. 10. 30.]
capacity 0
values_i [0, 0, 0]

In [ ]:

V

210.0

CAR FUEL

In [ ]:
import sys
import numpy as np


#input

data = input()
data2 = list( map(int,data.split(' ')))
distance = data2[0]
tank = data2[1]
n = data2[2]
stops = data2[3:]

def compute_min_refills(distance, tank,n, stops):


  distance_btw_c_stops = list()                           #to get distance btw consecutive stops
  distance_btw_c_stops.append(stops[0])  #adding distance of stop1 from cityA

  for i in range(0,n-1):

    a = stops[i+1]-stops[i]

    distance_btw_c_stops.append(a)

  #print(distance_btw_c_stops)

  distance_btw_c_stops.append(distance - stops[n-1]) #adding distance of last stop to cityB

  #print(distance_btw_c_stops)

  #checkpoint1

  min_refill = 0

  if distance < tank:

    return 0

  for diff in distance_btw_c_stops:

    if diff > tank:

      return -1

500 200 4 100 200 300 400

In [ ]:
min_stops = compute_min_refills(distance, tank,n, stops)

[1, 1, 3, 4]
[1, 1, 3, 4, 1]

In [ ]:
min_stops

3

In [ ]:
for i in range(0,n):


  if stops[i]>tank:

    stop1 = i
    print(stop1)
    min_stops = min_stops+1
    break

for k in range(stop1-1, n+1):

  if distance_btw_c_stops[k]>= tank and stops[k]<:

    stop1 = k-1

    min_stops = min_stops +1

print( min_stops)

2
3

In [ ]:
print(stops) - 500 200 4 100 200 300 400

[200, 375, 550, 750]

CAR  FUEL CORRECT SOL ACCORDING TO VIDEO

In [ ]:
import sys
import numpy as np


#input

data = input()
data2 = list( map(int,data.split(' ')))
distance = data2[0]
tank = data2[1]
n = data2[2]
stops = data2[3:]

def compute_min_refills(distance, tank,n, stops):

  x = [0]
  for i in stops:

    x.append(i)

  x.append(distance)

  num_refills = 0
  current_refill = 0

  while current_refill <= n:

    last_refill = current_refill
    
    while (current_refill <=n and x[current_refill + 1] - x[last_refill] <= tank):

      current_refill = current_refill +1

    if current_refill == last_refill:

      return -1

    if current_refill <=n:

      num_refills = num_refills +1 

  return num_refills

950 400 4 200 375 550 750

In [ ]:
min_refill = compute_min_refills(distance,tank,n,stops)

In [ ]:
min_refill

0

In [ ]:
initial_position = 0

refill = 0

refill_position = 0

x = [0]
for i in stops:
  x.append(i)

x.append(distance)

while refill_position <= n:

  refill_position = initial_position

  for i in range(0,):

       
    if x[initial_position + i] - x[initial_position] > tank:
      
      refill_position = i-1

      refill = refill+1

  break

print(refill)

2

MAX ADVERTISEMENT REVENUE

In [ ]:
data = input()
data = list(map(int, data.split()))
n = data[0]
a = data[1:(n + 1)]
b = data[(n + 1):]

def max_dot_product(a,b,n):

  a.sort()
  b.sort()

  sum = 0

  for i in range(0,n):

    sum = sum + (a[i]*b[i])
  
  print(sum)
  return sum

3 1 3 5 2 4 1

In [ ]:
print(max_dot_product(a,b,n))

27
27

COLLECTING SIGNATURE / SELECTING SEGMENT PROB - correct

In [ ]:
#from collections import namedtuple


data = input()
n, *data = map(int, data.split())
starts = list(map(int,data[::2]))
ends =list(map(int,data[1::2]))


def optimal_points(starts,ends):
  
  points = []
  no_points = 0
  
  while len(starts)>0:   

     
    min_right = min(ends)
    
    points.append(min_right)
    
    
    k = 0
    while k< len(starts):
      

      if starts[k] <= min_right and min_right <= ends[k]:

        starts.pop(k)
        ends.pop(k)

        
      
      else:
        k = k+1

          
        
  no_points = len(points)
  return no_points, points

5 1 3 3 5 5 7 7 9 9 12

In [ ]:
no_points,points = optimal_points(starts,ends)

Understanding namedtuple

In [ ]:

from collections import namedtuple

data = input()
data = list(map(int,data.split()))


sample = namedtuple('sample',['start','end'])

point = sample(data[0],data[1])

1 0

In [ ]:
point.start

1

In [ ]:
point.end

0

MAX PRIZES PROBLEM - NAIVE ALGO

In [ ]:
n = int(input())

def max_prizes(n):
  
  i = 1
  k = list()
  c= n
  if n>0:


    if i == c - i or c-i == 0: #for cases like 1,2

      k = [c]


    else:
      for i in range(1,n):  

        n = n-i
        

        if n not in k and n>0: #to check if i is not repeating in k

          k.append(i)
          #print("k",k)

        else:

          #print("n in k")
          s = sum(k)
          end = c - s
          if end not in k:  #
            k.append(end)

          else:
            k.pop(-1)
            s = sum(k)
            k.append(c-s)
          break
  
  return len(k),k

5

In [ ]:

i,k = max_prizes(n)
print(i)
print(k)

MAXIMUM PRIZES:

In [ ]:
n = int(input())

def max_prize(n):

  summands = []
  
  i =1
  while (i <= n+1):  
    

    if i*2 >= n : #n will be the last number if i*2 >= n
      summands.append(n)

      break
    
    summands.append(i)
    n = n-i
    i = i+1 


  return summands

5

In [ ]:
k = max_prize(n)
print(len(k))
print(k)

LARGEST SALARY

In [ ]:
def largest_salary(digits):

2
[1, 4]

In [ ]:
n = input()


def largest_salary(n):

  n_str = list(map(str, n.split()))
  b =list(n)
  a =[b[0]]
  answer = ''


  

  while len(n_str)>1:

    
    index = [i for i, value in enumerate(b) if value == ' ']
    for i in index:
      a.append(b[i+1])

    print(a)
    max_digit = max(a)
    
    for i in n_str:

      #print(i)

      if i[0] == max_digit:
        answer = answer + i
        n_str.remove(i)

    return answer

123 45 56 57

In [ ]:
answer = largest_salary(n)
print(answer)

['1', '4', '5', '5']
56

In [ ]:
b =list(n)
b

['1', '2', '3', ' ', '4', '5', ' ', '6', '7']

In [ ]:
a =[b[0]]
for i in range(0,len(b)):
  
  if b[i] == ' ':
    a.append(b[i+1])

In [ ]:
a

['1', '4', '6']

In [ ]:
max_digit = max(a)
max_digit

'6'

In [ ]:
answer = ''
for i in k:
  print(i)
  if i[0] == max_digit:
    answer = answer + i
    k.remove(i)

123
45
67

In [ ]:
answer

'67'

In [ ]:
k

['123', '45']

In [ ]:
res_list = [i for i, value in enumerate(test_list) if value == 3]

In [ ]:
test_list = [1, 3, 4, 3, 6, 7]
res_list = [i for i, value in enumerate(test_list) if value == 3]

In [ ]:
print(res_list)

[1, 3]

In [ ]:
a = []
for i in res_list:
  a.append(test_list[i+1])

In [ ]:
a

[4, 6]

In [ ]:
n = input()
n_str = list(map(str, n.split()))

425 123 472

In [ ]:
n_str.sort()
n_str

['123', '425', '472']

In [ ]:

def get_max_first_digits(nums):
  a = []
  for i in nums:
    a.append(i[0])

  max_1 = max(a)

  return max_1


def get_sim_num(nums):

  same_digit = []
  for k in nums:
    if k[0] == get_max_first_digits(nums):

      same_digit.append(k)

      k =[]
      for i in same_digit:

        k.append(i[1])

        new = k.index(max(k))

'134'

In [ ]:
def largest_number(a):
    res = ""
    i = 0
    while len(a) > 0:
        i = i+ 1
        sMax = find_safe_max_number(a)
        res += sMax
        a.remove(sMax)

    return res

def find_safe_max_number(a):
    max_ = a[0]
    for x in a:
        max_ = safe_max(max_, x)
    return max_

def safe_max(max_, x):
    A = str(max_) + str(x)
    B = str(x) + str(max_)
    # Check A > B ? max_ : x

0

In [ ]:
n = input()
nums = list(map(int,n.split(" ")))

def IsGreaterOrEqual(digit,max_digit):

  return int(str(digit)+ str(max_digit)) >= int(str(max_digit) + str(digit))



def largest_salary(nums):

  answer = []
  
  
  while nums != []:
    max_num = 0
    for num in nums:

      if IsGreaterOrEqual(num,max_num):

        max_num = num
        print(max_num)
    
    answer.append(max_num)
    print(answer)
    nums.remove(max_num)

  
  return answer
print(''.join([str(i) for i in largestnumber(lst)]))

1 35 6 7

In [ ]:
answer  = largest_salary(nums)
print(answer)

1
35
6
7

1
35
6

1
35

1